/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	text-align: center;
	line-height: 1.5;
}
a{
	color: white;
	text-decoration: none;
}
button{
	height: 25px;
	color: white;
	background-color: green;
	border-radius: 30px;
	margin-right: 50px;
}
.color{
	color: green;
}
header{
	padding: 20px;
	background-color: #191970;
	text-align: center;
	color: white;
}
h1{
	font-size: 64px;
	padding: 32px 180px;
}
h2{
	font-size: 30px;
}
.box{
	display: inline-block;
	height: 400;
	width: 300;
	padding: 70px;
	box-sizing: border-box;
	margin: 30px;
	box-shadow: inset 0 0 0 10px #5873E2, 0 0 0 10px #90FFA9;
	border:5px  solid #0D1430;
	background-color: #99D8CA;
	border-radius: 5px;
}
b{
	font-size: 24px;
}
hr{
	width: 500px;
	border-style: dotted;
}
.circle{
	width: 20px;
	height: 20px;
	background-color: #99D8CA;
	display: inline-block;
	border-radius: 50%;
}
.circle1{
	width: 20px;
	height: 20px;
	background-color: #0D1430;
	display: inline-block;
	border-radius: 50%;
}
.circle2{
	width: 20px;
	height: 20px;
	background-color: #90FFA9;
	display: inline-block;
	border-radius: 50%;
}
.circle3{
	width: 20px;
	height: 20px;
	background-color: #5873E2;
	display: inline-block;
	border-radius: 50%;
}
.box1{
	display: inline-block;
	height:180px;
	width: 200px;
	margin: 10px;
	background-color: #FDF5E6;

}
.box2{
	width: 660px;
	border: 2px solid black;
	margin: 0 auto;
	font-size: 0;
}
.box3{
	display: inline-block;
	height:180px;
	width: 200px;
	margin: 5px;
	background-color: aliceblue;
	border: 1px solid black;

}
.blog{
	display: inline-block;
	margin: 0 auto;
}